# IDE artifacts
/.project
/.pydevproject
/.pytest_cache/
/.idea/
/.settings/
/__pycache__/

# Virtual environments
/venv*/

# Build artifacts
/build/
/dist/
/PET4L*/

# Deployment artifacts
/*.exe
/*.tar.gz
/*.dmg
/*.zip
/*.app
